<div id="workpic">
  <div id="imagecontent">
    <h1 style="margin-top: -100px; color: #ccc; font-family: 'Pacifico', cursive;">Projects</h1>
  </div>
</div>
<div id='projectone'>
  <center>
  <img class="projectpics" src="assets/static/cardhuntproject.png">
  <h1 style="color:#fff;">Card Hunt</h1>
  <h3 style="color:#fff;">IOS APP/UI/Design</h3>
  <p class="projectcontent" style="color:#fff;">Created the idea and concept for the High vs Low Card game and designed all graphics with Illustrator and Photoshop. Developed on Xcode using Swift. </p></center>
  <center><p id="linkclick"><strong><a href="https://www.aeroflowdynamics.com" target="_blank" class="messagelink">CHECK IT OUT</strong></a></p></center>
  <br>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        window.scrollTo(0,0);
    });
</script>
