<div id="workpic">
  <div id="imagecontent">
    <h1 style="margin-top: -100px; color: #ccc; font-family: 'Pacifico', cursive;">Work</h1>
  </div>
</div>
<div id='projectone'>
  <center>
  <a href="https://www.aeroflowdynamics.com" target="_blank"><img class="workpics" src="assets/static/aeroflowwork.png"></a>
  <h1 style="color:#fff;">AeroFlowDynamics</h1>
  <h3 style="color:#fff;">Shopify Theme/UI</h3>
  <p style="color:#fff;">Worked on an existing template that was integrated for aeroflowdynamics.com, an aftermarket carpart manufacturer.<br>
  Updated and edited layout/graphics with Html, CSS, Javascript, Photoshop, and Illustrator</p></center>
  <center><p id="linkclick"><strong><a href="https://www.aeroflowdynamics.com" target="_blank" class="messagelink">CHECK IT OUT</strong></a></p></center>
  <br>
</div>
<div id='projecttwo'>
  <br>
  <br>
  <center>
    <a href="https://www.verticalorigin.com" target="_blank"><img class="workpics" src="assets/static/verticaloriginwork.png"></a>
    <h1 style="color:#fff;">Vertical Origin</h1>
    <h3 style="color:#fff;">Shopify Theme/UI</h3>
    <p style="color:#fff;">A shopify theme for verticalorigin.com, clothing brand.
    Designed layout and functionality for a better user experience</p>
  </center>
  <center><p id="linkclick"><strong><a href="https://www.verticalorigin.com" target="_blank" class="messagelink">CHECK IT OUT</strong></a></p></center>
  <br>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        window.scrollTo(0,0);
    });
</script>
